<table cellpadding=10 cellspacing=0 border=0>
  <tr>
    <th>title</th>
  </tr>

  <% if @nbrReq == nil || @nbrReq == 0 %>
        <% @nbrPage = 0 %>
        <p>There is any posts in the database </p>
  <% else %>
     <% @posts.each do |post| %>
       <tr>
         <td> <%= link_to post.title, post_path(post)%>
                  <span><%= "  by #{post.user.first_name}
                                  #{post.user.last_name}" %></span></td>
       </tr>
     <% end %>
  <% end %>
</table><br>

<% if @nbrPage > 1 %>
<%#= byebug%>
<%    for i in 1..@nbrPage do %>
<%        if  params[:query] != nil && params[:query] != ""  %>
<%            session[:query] = params[:query]  %>
<%            if params[:page] != i  %>
<%=              link_to "#{i}", search_path({page: "#{i}"}) %> &nbsp
<%            else %>
<%=              params[:page] %> &nbsp
<%            end %>
<%        else %>
<%            if params[:page] != i  %>
<%=              link_to "#{i}", posts_path({page: "#{i}"}) %> &nbsp
<%            else %>
<%=              params[:page] %> &nbsp
<%            end %>
<%        end %>
<%    end %>
<% else %>
<%    if  params[:query] != nil && params[:query] != ""  %>
<%        search_path({page: 1}) %>
<%    else %>
<%        posts_path({page: 1}) %>
<%    end %>
<% end %>
